{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>

        <!-- libs -->
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    </head>
    <body>
        <header class="header">
            
        </header>
        <section id="authSection">

        </section>

        <!-- libs -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/lazyload/jquery.lazy.min.js' %}"></script>

        <script src="{% static 'js/problems_student.min.js' %}"></script>
    </body>
</html>
