.icon {
    $parent: &;

    background-size: contain;

    &-std {
        @extend #{$parent};

        width: 1.875rem;
        height: 1.875rem;
    }
}

.img {
    &-full-width {
        width: 100%;
        height: auto;
    }
}
