<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>

        <!-- libs -->
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <body>
        <section id="authSection">
            <div class="container auth-container mb-5">
                <div class="auth-logo">
                    <img class="img-full-width" src="/resources/images/logo.png" alt="logo">
                </div>
                <div class="auth-form">
                    <h5 class="color-white auth-form-title mb-4">Регистрация</h5>
                    <form action="#">
                        <div class="color-white text-left ml-2 mb-1">Имя</div>
                        <div class="auth-input mb-2">
                            <input type="text" name="name" value="">
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Фамилия</div>
                        <div class="auth-input mb-2">
                            <input type="text" name="subname" value="">
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Отчество</div>
                        <div class="auth-input mb-2">
                            <input type="text" name="midname" value="">
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Дата рождения</div>
                        <div class="auth-input mb-2">
                            <input type="text" name="birthday" value="">
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Образовательная организация</div>
                        <div class="auth-input mb-2">
                            <input type="text" name="education" value="">
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Электронная почта</div>
                        <div class="auth-input mb-5">
                            <input type="text" name="email" value="">
                        </div>
                        <button class="auth-button" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- libs -->
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="/libs/lazyload/jquery.lazy.min.js"></script>
</html>
