{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>

        <!-- libs -->
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    <body>
        <section id="authSection">
            <div class="container auth-container mb-5">
                <div class="auth-logo">
                    <img class="img-full-width" src="{% static 'resources/images/logo.png' %}" alt="logo">
                </div>
                <div class="auth-form">
                    <h5 class="color-white auth-form-title mb-4">Регистрация</h5>
                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="color-white text-left ml-2 mb-1">Имя</div>
                        <div class="auth-input mb-2">
                            {{ form.first_name }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Фамилия</div>
                        <div class="auth-input mb-2">
                            {{ form.last_name }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Отчество</div>
                        <div class="auth-input mb-2">
                            {{ form.middle_name }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Дата рождения</div>
                        <div class="auth-input mb-2">
                            {{ form.birth_date }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Образовательная организация</div>
                        <div class="auth-input mb-2">
                            {{ form.school_name }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Имя пользователя</div>
                        <div class="auth-input mb-2">
                            {{ form.username }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Пароль</div>
                        <div class="auth-input mb-2">
                            {{ form.password1 }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Пароль повтор</div>
                        <div class="auth-input mb-2">
                            {{ form.password2 }}
                        </div>
                        <div class="color-white text-left ml-2 mb-1">Кто вы</div>
                        <div class="auth-input mb-5">
                            {{ form.account_type }}
                        </div>
                        <button class="auth-button" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- libs -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/lazyload/jquery.lazy.min.js' %}"></script>

        <script src="{% static 'js/register.min.js' %}"></script>
</html>
