$primary_color: #3353b4;
$primary_variant_color: #2588df;
$secondary_color: #A90060;
$secondary_variant_color: #D4358F;
$accent_color: #D25F00;
$accent_variant_color: #E9893A;

$text_color: #262626;
$text_color_variant: #777777;

$background_color: #FFFFFF;
$surfaces_color: #F5F5F5;
